.supports-form-container {
    @apply w-full bg-white/10 backdrop-blur-md rounded-xl p-4 shadow-lg border border-white/20 transition duration-300 ease-in-out hover:bg-white/30 text-[8px];
}

.form-title {
    @apply text-white text-center text-[8px] mb-3;
}

.input-group {
    @apply mb-2;
}
.input-group select {
    @apply bg-black/40 border-gray-700 rounded-md p-2 w-full text-[10px] focus:outline-none focus:ring-2 focus:ring-blue-400 h-5 text-white;
}

.toggle-group {
    @apply flex justify-between gap-2 mb-2;
}
.toggle-btn {
    @apply w-full text-white text-[10px] h-5 rounded-md transition border border-white/20 bg-black/30 hover:bg-white/20;
}
.toggle-btn.active {
    @apply bg-red-500 text-white border-red-700;
}
.saved-supports {
    @apply mt-2 space-y-2 text-white;
}
.support-item {
    @apply bg-gray-800 text-white text-[8px] rounded-lg mt-2 px-3 py-2 border border-gray-300 shadow-sm;
}
.support-restrictions {
    @apply flex gap-2 mt-1 text-[10px];
}

.supports-list {
    @apply max-h-36 overflow-y-auto space-y-1;
}
  
.supports-list::-webkit-scrollbar {
    width: 6px;
}

.supports-list::-webkit-scrollbar-thumb {
background-color: rgba(255, 255, 255, 0.3);
border-radius: 10px;
}

.supports-list::-webkit-scrollbar-thumb:hover {
background-color: rgba(255, 255, 255, 0.6);
}







  

.add-support-btn {
    @apply bg-green-500 hover:bg-green-700 text-white font-semibold rounded-md w-full h-5 transition flex items-center justify-center mt-4;
}

.support-node {
    @apply font-medium text-gray-700;
}


.delete-all-btn {
    @apply bg-red-600 text-white px-4 py-2 mt-4 w-full rounded-md hover:bg-red-700 transition;
}


.toggle-btn:hover {
    @apply bg-gray-200;
}

.support-restrictions span {
    @apply px-2 py-1 border rounded-md text-gray-500 h-5 flex items-center justify-center;
}

.support-restrictions .active {
    @apply bg-red-500 text-white border-red-700 h-5 flex items-center justify-center;
}

.node-options {
    @apply flex gap-2 mt-1 text-sm font-semibold;
}
.node-options span {
    @apply px-2 py-1 border rounded-md text-gray-500;
}
